html{
  scroll-behavior: smooth;
}
body{
  scroll-snap-type: y proximity;
  font-family: sans-serif;
}

  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




#prehrana {
  position: relative;
  width: 100%;
  height: 580;
  background-image: url('Slike/food2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}

#prehrana a{
  position: absolute;
  text-align: justify;
  width: 580px;
  height:300px;
  color: #ffffff;
  font-family: 'Vollkorn', serif;
  font-size: 2.4rem;
  line-height: 1.0625em;
  font-weight: 950;
  margin-left: 45px; 
  transform: translate(120%, 20%);
  text-decoration: none;
  

}

#tijelo{
position: relative;
width: 100%;
height: 660;
background-image: url('Slike/fitness2.jpg');
background-size: cover;
background-repeat: no-repeat;
scroll-snap-align: center;

} 


#tijelo a{
  position: absolute;
  width: 580px;
  height:300px;
  color: #ffffff;
  font-family: 'Vollkorn', serif;
  font-size: 2.4rem;
  line-height: 1.0625em;
  font-weight: 950;
  margin-left: 45px; 
  transform: translate(10%, 30%);
  text-decoration: none;
  text-align: justify;

}

#zdravlje{
  position: relative;
  width: 100%;
  height: 660px;
  background-image: url('Slike/zdravlje.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
  
  } 
  
  
  #zdravlje a{
    position: absolute;
    width: 580px;
    height:300px;
    color: #ffffff;
    font-family: 'Vollkorn', serif;
    font-size: 2.4rem;
    line-height: 1.0625em;
    font-weight: 950;
    margin-left: 45px; 
    transform: translate(120%, 90%);
    text-decoration: none;
    text-align: justify;

  }
  

 

 

